{% extends "layout.twig" %}

{% block page_content %}
    <section class="container mt-4">
        {% block page_title %}
            <h1 class="mb-3">{{ page_title }}</h1>
        {% endblock %}
        <section class="row row-cols-1 row-cols-md-2">
            {% for post in posts %}
                <div class="col">
                    <!-- Blog article 1 -->
                    <div class="card mb-4">
                        <a href="post/{{ post.id }}"><img class="card-img-top" src="{{ constant('IMAGES') }}{{ post.photo }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="row">
                                <h2 class="col-7 card-title h4">{{ post.title }}</h2>
                                <div class="col-5 small text-muted text-end">Mis à jour le {{ post.last_update|date('d/m/Y') }}</div>
                            </div>
                            <p class="card-text text-justify">{{ post.Excerpt() }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </section>
{% endblock page_content %}
