{% extends "layout.twig" %}

{% block page_content %}
    <section class="py-4 header-index">
        {% if _session.success %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fas fa-check-circle me-2"></i>
                Votre message a bien été envoyé.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <div class="text-center my-5">
            <img class="img-fluid rounded-circle mb-4" src="{{ constant('AVATARS') }}avatar-1.png" max alt="..." />
            <h1 class="text-white fs-3 fw-bolder">{{ creator_name }}</h1>
            <figure class="text-center">
                <blockquote class="blockquote text-white-50">
                    <p>{{ quote }}</p>
                </blockquote>
                <figcaption class="blockquote-footer text-white-50">
                    <cite title="Source Title">{{ quote_author }}</cite>
                </figcaption>
            </figure>
            <a class="btn btn-secondary col-3 col-md-2 text-bold mt-4" href="#" role="button">Mon CV</a>
        </div>
    </section>

    <!-- Timeline -->
    <section class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <h4>Parcours DA Symfony - OpenClassrooms</h4>
                <ul class="timeline">
                    <li>
                        <div class="row">
                            <div class="col-md-8">
                                <a target="_blank" href="#">Projet 1 : Définissez votre stratégie d'apprentissage</a>
                            </div>
                            <div class="col-md-4 text-md-end">
                                <a href="#" class="text-muted">Juin 2021</a>
                            </div>
                        </div>
                        <div class="progress m-2">
                            <div class="progress-bar progress-bar-striped bg-success rounded-3" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-8">
                                <a target="_blank" href="#">Projet 2 : Intégrez un thème Wordpress pour un client</a>
                            </div>
                            <div class="col-md-4 text-md-end">
                                <a href="#" class="text-muted">Juillet 2021</a>
                            </div>
                        </div>
                        <div class="progress m-2">
                            <div class="progress-bar progress-bar-striped bg-success rounded-3" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-8">
                                <a target="_blank" href="#">Projet 3 : Analysez les besoins de votre client pour son festival de films</a>
                            </div>
                            <div class="col-md-4 text-md-end">
                                <a href="#" class="text-muted">Août 2021</a>
                            </div>
                        </div>
                        <div class="progress m-2">
                            <div class="progress-bar progress-bar-striped bg-success rounded-3" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-8">
                                <a target="_blank" href="#">Projet 4 : Concevez la solution technique d'une application de restauration en ligne, ExpressFood</a>
                            </div>
                            <div class="col-md-4 text-md-end">
                                <a href="#" class="text-muted">Septembre 2021</a>
                            </div>
                        </div>
                        <div class="progress m-2">
                            <div class="progress-bar progress-bar-striped bg-success rounded-3" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-8">
                                <a target="_blank" href="#">Projet 5 : Créez votre premier blog en PHP</a>
                            </div>
                            <div class="col-md-4 text-md-end">
                                <a href="#" class="text-muted">Octobre 2021</a>
                            </div>
                        </div>
                        <div class="progress m-2">
                            <div class="progress-bar progress-bar-striped bg-warning rounded-3" role="progressbar" style="width: 60%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Contact form -->
    <section class="py-4 bg-light">
        <div class="container col-md-6 px-4 my-4">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                    <i class="far fa-paper-plane fa-sm"></i>
                </div>
                <h2 class="fw-bolder">Contactez-moi</h2>
                <p class="lead mb-0">Je serais ravi de répondre à vos questions</p>
            </div>
            {% block display_errors %}
                {{ parent() }}
            {% endblock %}
            <form action="/" method="POST" class="row g-2">
                <div class="col-md-6">
                    <input type="text" class="form-control fa-unicode" id="firstname" name="firstname" placeholder="&#xf007; Prénom" required/>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control fa-unicode" id="lastname" name="lastname" placeholder="&#xf007; Nom" required/>
                </div>
                <div class="col-12">
                    <input type="email" class="form-control fa-unicode" id="email" name="email" placeholder="&#xf1d8; Email" required/>
                </div>
                <div class="col-12">
                    <textarea class="form-control fa-unicode" id="message" name="message" rows="10" minlength="100" placeholder="&#xf044; Message" required></textarea>
                </div>
                <div class="col-12 form-group">
                    <input type="hidden" id="token" name="token" class="form-control fa-unicode" value="{{ token }}"/>
                </div>
                <div class="col-12">
                    <button type="submit" class="col-12 btn btn-info btn-lg">Envoyer</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
